<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Teams</title>
    <link rel="stylesheet" href="/styles/master.css">
    <link rel="stylesheet" href="/styles/index_presenter.css">
    <link rel="stylesheet" href="/styles/footer.css">
  </head>
  <body>

    <section>

      <% @teams[:row1].each() do |team| %>
        <div class="board_container">
          <div class="inner_board upper_board">
              <p><%= team.score %></p>
          </div>
          <form action="/team/presenter/<%= team.id %>" method="post">
            <input class="minus_score_button" type="submit" name="edit_score" value="-">
            <input class="plus_score_button" type="submit" name="edit_score" value="+">
          </form>
          <div class="inner_board lower_board">
            <span><%= team.name %></span>
          </div>
        </div>
      <% end %>

    </section>

    <section>

      <% @teams[:row2].each() do |team| %>
        <div class="board_container">
          <div class="inner_board upper_board">
              <p><%= team.score %></p>
          </div>
          <form action="/team/presenter/<%= team.id %>" method="post">
            <input class="minus_score_button" type="submit" name="edit_score" value="-">
            <input class="plus_score_button" type="submit" name="edit_score" value="+">
          </form>
          <div class="inner_board lower_board">
            <span><%= team.name %></span>
          </div>
        </div>
      <% end %>

    </section>

    <footer>
      <ul>
        <li>Control Panel</li>
      </ul>
    </footer>

  </body>
</html>
